﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/dist/images/favicon.png" type="image/png">
    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
</html>