﻿body, html, #app {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
    background-color: #444;
    font-family: "Roboto", "RobotoFallback", "Helvetica", "Arial", sans-serif;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 56px 0 0 0;
    box-sizing: border-box;

    &-filter {
        position: absolute;
        height: 56px;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;

        > div {
            width: 20%;
            float: left;
            height: 100%;

            &.success-btn {
                text-align: center;
                margin-top: 10px;
            }

            .dx-fileuploader-wrapper {
                padding: 0 !important;
            }

            > span {
                color: #292;
                margin: 0 10px;
            }
        }
    }
}

.app-diagram {
    padding:20px;
    box-sizing: border-box;
}

.loader {
    height: 100%;
    width: 100%;
    position: relative;

    &:after {
        content: "";
        display: block;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -100px;
        background-image: url(/dist/images/loader.gif);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 64px 64px;
    }
}

.algorithm {
    .dx-radiobutton {
        margin-bottom: 20px !important;
    }
}
